<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">
    <title>Om sidan</title>
</head>

<body>
    <nav>
        <h1>Mitt CV</h1>
        <a href="/">Hem</a>
        <a href="/add">Lägg till</a>
        <a href="/about">Om</a>
    </nav>
    <main>
        <h2>Om webbplatsen</h2>
        <p>Denna webbplats är skapad för att hantera och visa en lista över genomförda kurser.</p>
        <p><strong>Teknik:</strong> Node.js, Express och EJS.</p>
        <p><strong>Databas:</strong> PostgreSQL.</p>
        <p><strong>Slutsats:</strong> Med detta projekt har jag lärt mig hur man kopplar samman en server med en
            relationsdatabas och hur man validerar data på serversidan, för att få bättre säkerhet. Det var en lärorik
            uppgift och krävde en del misslyckanden innan det funkade som det skulle. Eller som jag tror att det skulle
            i alla fall? </p>
    </main>
</body>

</html>